:root{
  --blue-color : rgba(41, 145, 236, 0.744);
  --dark-blue:rgba(12, 63, 129, 0.744);
  --yellow-color: #ffff00;
  --green-color: green
}


*{
  box-sizing: border-box;
  margin: 0;

}


body{
  background-color: var(--blue-color);
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

main{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}


@media screen and (min-width:320px) and (max-width:920px) {
  main{
    display: flex;
    flex-direction: column;
  }
}